HELP.md

# Maven
target/

# IDEs
## STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ
.idea
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# Logs
*.log

# Compiled class files
*.class

# JVM crash logs
hs_err_pid*
replay_pid*

# SQL (local only)
*.sql
# !src/main/resources/db/migration/*.sql  # uncomment if using Flyway
