spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/movie_library
    username: movie_user
    password: movie_pass
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
