spring:
  application:
    name: movie-library

  datasource:
    url: jdbc:mariadb://localhost:3306/movie_library
    username: root
    password: root
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

  cloud:
    openfeign:
      client:
        config:
          default:
            connect-timeout: 2000
            read-timeout: 2000

omdb:
  base-url: https://www.omdbapi.com
  api-key: ${OMDB_API_KEY}
